* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #9051ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toggle:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #ffff;
  transition: 0.2s;
  transform: translateY(-5px);
}
#toggle:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: #ffff;
  transition: 0.2s;
  transform: translateY(5px);
}

#toggle.active {
  background: #f7226a;
}
#toggle.active:before {
  transform: translateY(0px) rotate(45deg);
}
#toggle.active:after {
  transform: translateY(0px) rotate(-45deg);
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: #ffff;
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}
#navbar.active {
  width: 660px;
}
#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 15px;
  letter-spacing: 2px;
}
#navbar ul li a:hover {
  color: #ffff;
  font-weight: bold;
  text-transform: uppercase;
  background: #9051ff;
}

@media (max-width: 991px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body.loaded {
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
}
.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #111;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.8s;
}
.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
  left: -50%;
}
.overlay.loaded .overlayDoor:after {
  right: -50%;
}
.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}
.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
.overlay .overlayContent .skip {
  display: block;
  width: 130px;
  text-align: center;
  margin: 50px auto 0;
  cursor: pointer;
  color: #ffff;
  font-family: "Nunito";
  font-weight: 700;
  padding: 12px 0;
  border: 2px solid #ffff;
  border-radius: 3px;
  transition: 0.2s ease;
}
.overlay .overlayContent .skip:hover {
  background: #ddd;
  color: #444;
  border-color: #ddd;
}

.loader {
  width: 128px;
  height: 128px;
  border: 3px solid #ffff;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .inner {
  width: 64px;
  height: 64px;
  border: 3px solid transparent;
  border-top: 3px solid #ffff;
  border-radius: 50%;
  animation: spinInner 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
#labelDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  color: white;
  font-family: "Lato", sans-serif;
}
#labelDiv h1 {
  font-size: 28px;
}
#labelDiv h1 span {
  color: orange;
}
#labelDiv h4 {
  font-size: 14px;
}

#profilePic {
  height: 150px;
  width: 150px;
}

@media (min-width: 768px) {
  #profilePic {
    height: 250px;
    width: 250px;
  }
}
.skills {
  font-size: 11px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;
}

.skills li {
  list-style: none;
  flex: 0 0 50%;
  justify-content: center;
  align-content: center;
}

.certificates {
  padding: 20px;
  border: thick double orange;
}

.certificates li {
  font-size: 15px;
  text-align: left;
  list-style: none;
  padding: 0 0 0 20px;
}

body {
  background-color: #ffff;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.my-logo {
  width: 100px;
  height: 70px;
  color: set-text-color(#0000);
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: set-text-color(#0000);
  font-size: 18vw;
  font-weight: 700;
}

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}
.social-icons a {
  padding: 0.4rem;
  transition: all 0.5s ease-in-out;
}

i {
  color: purple;
}
i:hover {
  color: orange;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1.2rem;
  text-align: right;
  padding: 1rem;
  font-weight: 700;
  color: purple;
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
