@import './mixins', './variables';
.skills {
    font-size: 11px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .skills li{
    list-style: none;
    flex: 0 0 50%;
    justify-content: center;
    align-content: center;
  }
  
  .certificates {
    padding: 20px;
    border: thick double orange;
  }
  
  .certificates li{
    font-size: 15px;
    text-align: left;
    list-style: none;
    padding: 0 0 0 20px;
  }

 

  @mixin laptop {
    @media (max-width: $laptop){
        .certificates {
            width: 25%;
        }
    }
}
