@import './_variables.scss';

@mixin pseudo-toggle($transform) {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: $white-color;
    transition: 0.2s;
    transform: $transform;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablet {
    @media (max-width: $tablet){
        @content
    }
}

@mixin hrStryle {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: orange;
    position: absolute;
    left: 0;
    right: 0;
    margin: 25px auto 0 auto;
}

@mixin laptop {
    @media (max-width: $laptop){
        @content
    }
}
