@import './resets', './mixins', './variables', './navbar', './loading',
         './home', './about', './projects', './contacts';

body {
    background-color: $white-color;
    // min-height: 100vh;
    // overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: $width-max;
    background: $white-color;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    z-index: 1000;
}

.my-logo {
    width: 100px;
    height: 70px;
    color: set-text-color($primary-color);
}

section {
    position: relative;
    @include flexCenter;
    min-height: 100vh;
    color: set-text-color($primary-color);
    font-size: 18vw;
    font-weight: 700;
}

#about-img, #projects-img {
  width: 100%;
  height: 150px;
}


.social-icons {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    display: flex;
    flex-direction: column;

    a {
      padding: 0.4rem;
      transition: all 0.5s ease-in-out;   
    }
  }

  i {
    color: purple;

    &:hover {
      color: orange;
    }
  }

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 1.2rem;
  text-align: right;
  padding: 1rem;
  font-weight: 700;
  color: purple;
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}